.avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #000;
  float: left;
  margin-right: 10px;
}

.icon{
  margin: 0px 5px;
  font-size: 1.2rem;
  color: #777;
}

.container{
  max-width: 960px;
}

.tweets{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.single_tweet{
  flex: 1;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 5px 15px 15px 15px;
  box-sizing: border-box;
}

.single_tweet__title{
  margin: 10px 0;
}

.single_tweet__content{
  display: flex;
  flex-wrap: wrap;
}

.video_side{
  flex: 1 0;
  background: #eee;
  border-radius: 3px;
}

.tweet_side{
  flex: 1 0;
  padding-left: 15px; 
}

.tweet{
  display: flex;
  flex-direction: column;
}

.tweet__header{
  flex: 1;
  display: flex;
}

.tweet__header__user{
  flex: 1;
}

.tweet__header__logo{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.tweet__body{
  flex: 1;
}

.tweet__footer{
  flex: 1;
  display: flex;
  justify-content: space-between;
}